/* Deaf.css */

.Deaf {
    text-align: center;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
.profilea{
    background-color: rgb(246, 226, 201);
    width: 270px;
    height: 425px;
    margin : 40px;
    border-radius: 15px;
}
.profile-image{
    background-color: black;
    height: 180px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.profile1{
    background-image: url("https://upload.wikimedia.org/wikipedia/en/5/56/Logo-jiit.png");
    background-size: cover;
}
.style{
    
    background-color: black;
    padding: 6px;
    
    color: white;
    border-radius: 5px;
    text-decoration:wavy;
    
}