* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

.small-bold-text {
    font-size: 1rem;
    font-weight: 500;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding: var(--padding-inline-section);
}

.top-banner {
    background-image: url(https://wecapable.com/wp-content/uploads/2017/05/divyang-meaning.jpg);
    background-size: 300px;
    background-color: #4fb3d4;
}

.banner-text {
    color: white;
    padding: 15px 30px;
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
}

.main-nav {
    justify-content: space-between;
}

.company-logo img {
    width: 200px;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
}

.nav-links {
    flex-basis: 730px
}

.hover-links {
    color: var(--primary-text-color);
    transition: 0.2s ease-out;

}

.hover-links:hover {
    color: var(--accent-color);
}

.primary-btn {
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 500;
    color: #fff !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--accent-color);
    transition: 0.2s ease-out;
}

.primary-btn:hover {
    background-color: var(--accent-color-dark);
}

.secondary-btn {
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 500;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;


}

.secondary-btn:hover {
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

.header {
    padding: 50px var(--padding-inline-section);
}

.header-section {
    justify-content: center;
    gap: 50px;
}

.header-left {
    max-width: 40vw;
}

.header-left h1 {
    margin-top: 20px;
}

.header-left a {
    margin-top: 20px;
}

.header-right img {
    width: 600px;

}

.companies-header {
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}

.logos {
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    height: 90px
}

.features-header,
.examples-header {
    text-align: center;
}

.features-section {
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(./assets/asset\ 32.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.features-header h2 {
    margin-bottom: 20px;
}

.features-card {
    flex-direction: column;
    gap: 30px;
    max-width: 25%;
    text-align: center;
}

.features-card img{
    width: 100px;
}
.features-area {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
}

.big-feature-section {
    padding: 30px var(--padding-inline-section) 0;

}

.big-feature-container {
    gap: 30px;
}

.feature-img img {
    width: 100%;
}

.feature-desc {
    flex-direction: column;
    align-items: flex-start;
}

.examples-card {
    width: 23%;
    position: relative;
    min-height: 300px;
    background: #000;
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(assets/asset\ 35.jpeg);
    background-size: cover;
}

.card-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: #fff;
}

.examples-area {
    justify-content: space-between;
    margin-block: 30px;
}

.examples-card:nth-child(2) {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(assets/asset\ 34.jpeg);
    background-size: cover;
}

.examples-card:nth-child(3) {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(assets/asset\ 36.jpeg);
    background-size: cover;
}

.examples-card:nth-child(4) {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(assets/asset\ 37.jpeg);
    background-size: cover;
}

.examples-card:hover {
    box-shadow: 0 0 10px #888;
    transition: 0.2s ease-out;
}

.cta-section-container {
    flex-direction: column;
    gap: 30px;
    color: #fff;
}

.cta-section {
    background-color: #183b56;
    padding-block: 20px;
}

.cta-section-container p {
    color: #fff;
    margin-top: 20px;
}

footer {
    padding-block: 80px;
    background-color: #ebf2fa;
}

.link-column {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px
}

.footer-container {
    align-items: flex-start;
    justify-content: space-between;

}
.subfooter{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);

}
.subfooter-container{
    justify-content: center;
    gap:30px;

}